extends ../layouts/main-layout.pug

block content
    if (action !== 'undefined' && action === 'delete')
        .alert.alert-danger Kategori silme islemi basariyla tamamlandi!

    if (action !== 'undefined' && action === 'edit')
        .alert.alert-warning Kategori basariyla guncellendi! 

    if (action !== 'undefined' && action === 'create')
        .alert.alert-warning Kategori basariyla eklendi!  

    if categories.length > 0
        table.table.table-bordered
            thead
                tr
                    th Kategori Ismi
                    th Açıklama
                    th(style='width: 170px')
            tbody
                each category in categories
                    tr
                        td #{category.name}
                        td #{category.description}
                        td
                            a(href=`/admin/categories/${category._id}`).btn.btn-primary.me-2 Düzenle

                            form(action="/admin/delete-category", method="post").d-inline
                                input(type="hidden" name="_csrf" value=`${csrfToken}`)
                                input(type="hidden", name="categoryid" value = `${category._id}`)
                                button(type="submit").btn.btn-danger Sil 
    else
        h1 Kategori yok veya henuz eklenmemis
                 